@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body;
  }
}

@layer components {
  .page_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .page_container-l {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .movie_list .swiper-slide {
    width: 300px;
  }
  .text_height-dot {
    max-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .banner .swiper {
    height: 100%;
  }
  .page_container-sm {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
